*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  background-color: #fafafa;
  box-shadow: rgba(196, 196, 196, 0.26) 0px 4px 5px 0px;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 15px 15px 15px 15px;
  padding: 15px;
  /* display: flex;
  justify-content: center; */
}
.wrapper:hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
.main-wrapper {
  padding: 85px 30px 30px 30px;
  border-style: dashed;
  border-width: 0px 1px 1px 1px;
  border-color: #b68c2f;
  margin-top: -75px;
}
.image-wrapper {
  width: 341px;
  height: 300px;
  /* position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0; */
}
.image {
  /* display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%); */
  object-fit: cover;
  height: 100%;
  /* width: auto; */
  border-radius: 0 0 68% 68% / 72px;
}
.desc-wrapper {
  margin-top: -15px;
}
.title {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
}
.desc {
  line-height: 1.9;
  font-size: 17px;
  font-weight: 400;
  color: #777777;
  text-align: center;
}
.description {
  font-weight: 600;
}
.butt {
  margin: 15px 0;
  display: block;
  text-align: center;
}
.button {
  background-color: #b68c2f !important;
  padding: 0 16px !important;
}

.button:hover {
  background-color: #b68c2f;
}
.center123 {
  display: block;
  text-align: center;
  margin-bottom: -15px;
}
.icon {
  margin: 20px;
  font-size: 36px;
  color: #8dabb8;
  text-align: center;
}
.text-primary {
  text-align: center;
  text-transform: capitalize;
}
